<app-sidebar></app-sidebar>

<body>
    <div>
        <button (click)="openPopup()">add your vehicle</button>

        <div class="vehicle-selector">
            <div *ngIf="userVehicles.length !== 0">
                <p> Choose your vehicle :
                    <select [(ngModel)]="selectedUserVehicle" (ngModelChange)="onSelectionChange($event)">
                        <option *ngFor="let vehicle of userVehicles" [ngValue]="vehicle">{{ vehicle.vehicleName }}
                        </option>
                    </select>
                </p>

                <p>{{selectedUserVehicle.vehicleName}}'s current charge : {{selectedUserVehicle.chargeAvailable}} %</p>

                <p>Enter your expected charge of {{selectedUserVehicle.vehicleName}} : <input type="number"
                        [(ngModel)]="expectedCharge" (ngModelChange)="getExpectedTimeDuration()"
                        [min]="selectedUserVehicle.chargeAvailable" [max]="100"></p>

                <p>Expected time to get full charge : <input type="number" [(ngModel)]="expectedChargeHour"
                        (ngModelChange)="getExpectedCharge()"> hours <input type="number" min="5"
                        [(ngModel)]="expectedChargeMinutes" (ngModelChange)="getExpectedCharge()"> minutes</p>
            </div>

            <!-- The popup form -->
            <div id="popupForm" class="popup">
                <div class="popup-content">
                    <span class="close" (click)="closePopup()">&times;</span>
                    <!-- Form elements go here -->
                    <h2>Enter your Vehicle Details</h2>
                    <form [formGroup]="addVehicleForm" (ngSubmit)="addVehicle()">
                        <label>Vehicle Name :
                            <input type="text" placeholder="vehicle name" formControlName="vehicleName" required>
                        </label>
                        <br>
                        <label for=""> Vehicle model :
                            <select type="text" placeholder="vehicle model" formControlName="vehiclemodel" required>
                                <option *ngFor="let vehiclemodel of vehicleModels" [value]="vehiclemodel.vehicleModel">
                                    {{vehiclemodel.vehicleModel}} </option>
                            </select>
                        </label>
                        <br>
                        <label for="" style="display: none;"> Charge available :
                            <input type="text" placeholder="chargeAvailable" formControlName="chargeAvailable">
                        </label>
                        <label for="" style="display: none;"> Location :
                            <input type="text" placeholder="location" formControlName="location">
                        </label><br>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>

        </div>


        <div class="charging-stations">
            <p>Charging stations near you : </p>
            <div *ngFor="let chargingStationDistance of chargingStationDistances" class="charging-station">
                <div class="charging-station"
                    (click)="getSlots(chargingStationDistance.chargingStation)">
                    <p>Station Name : {{chargingStationDistance.chargingStation.stationName}}</p>
                    <p>Station Type : {{chargingStationDistance.chargingStation.stationtype}}</p>
                    <p class="distance">Distance : {{chargingStationDistance.distance}} Km</p>
                </div>

            </div>
        </div>

    </div>

</body>