<app-header></app-header>
<div class="form">

    <div *ngIf="forgotpasswordStep === 0">
        <h1 class="title-login">OTP will be sent to your registered e-mail id</h1>
        <br>
        <mat-form-field class="rectangle-1">
            <!-- <mat-icon class="usericon">person</mat-icon> -->
            <mat-label>Username</mat-label>
            <input [(ngModel)]="username" matInput type="text" placeholder="Enter your User Name" maxlength="20"
                required>
        </mat-form-field>
        <button mat-raised-button (click)="getEmailByUsername()" class="submit"><span style="color: white;">Get
                OTP</span></button>
    </div>

    <div *ngIf="forgotpasswordStep === 1">
        <h1 class="title-login">Enter OTP received in registered email</h1>
        <br>
        <mat-form-field class="rectangle-1">
            <!-- <mat-icon class="usericon">lock</mat-icon> -->
            <mat-label>Enter OTP</mat-label>
            <input [(ngModel)]="enteredOtp" matInput type="text" placeholder="Enter OTP" maxlength="20" required>
        </mat-form-field>
        <button mat-raised-button (click)="verifyOtp()" class="submit"><span style="color: white;">Verify
                OTP</span></button>
    </div>

    <div *ngIf="forgotpasswordStep === 2">
        <h1 class="title-login">Update password</h1>
        <br>
        <mat-form-field class="rectangle-1">
            <!-- <mat-icon class="usericon">lock</mat-icon> -->
            <mat-label>New Password</mat-label>
            <!-- <input [(ngModel)]="password" matInput type="password" placeholder="Enter your new Password" maxlength="20"
                required> -->
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" placeholder="Enter your new Password"
                maxlength="30" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="rectangle-1">
            <!-- <mat-icon class="usericon">lock</mat-icon> -->
            <mat-label>Confirm Password</mat-label>
            <mat-icon *ngIf="!disableButton" class="checkicon">check_circle</mat-icon>
            <mat-icon *ngIf="disableButton" class="wrongicon">error</mat-icon>
            <!-- <input [(ngModel)]="confirmPassword" matInput type="password" placeholder="Confirm new Password"
                maxlength="20" (input)="checkConfirmPass()" required> -->
            <input [(ngModel)]="confirmPassword" matInput [type]="hide1 ? 'password' : 'text'" placeholder="Confirm new Password"
                maxlength="30" required (input)="checkConfirmPass()">
            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide1">
                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button mat-raised-button (click)="checkConfirmPassword()" class="submit" [disabled]="disableButton"
            [ngClass]="{'disabled-button-style': disableButton}"><span style="color: white;">Update
                Password</span></button>
    </div>

</div>
<app-footer></app-footer>