<app-header></app-header>
<div class="form">
    
    <div *ngIf="forgotpasswordStep === 0">
        <span class="title-login">OTP will be sent to your registered e-mail id</span>
    <br>
        <div class="rectangle-1">
            <fa-icon class="usericon" [icon]="usericon"></fa-icon>
            <input [(ngModel)]="username" type="text" class="enter-username-password" placeholder="Enter your User Name" maxlength="20" required>
        </div>
        <button (click)="getEmailByUsername()" class="submit">Get Otp </button>
    </div>

    <div *ngIf="forgotpasswordStep === 1">
        <span class="title-login">Enter Otp</span>
    <br>
        <div class="rectangle-1">
            <fa-icon class="usericon" [icon]="lockicon"></fa-icon>
            <input [(ngModel)]="enteredOtp" class="enter-username-password" placeholder="Enter otp" maxlength="20" required>
        </div>
        <button (click)="verifyOtp()" class="submit">Verify Otp </button>
    </div>

    <div *ngIf="forgotpasswordStep === 2">
        <span class="title-login">Update your password</span>
    <br>
        <div class="rectangle-1">
            <fa-icon class="usericon" [icon]="lockicon"></fa-icon>
            <input [(ngModel)]="password" type="password" class="enter-username-password" placeholder="Enter your new Password" maxlength="20" required>
        </div>
        <div class="rectangle-1">
            <fa-icon class="usericon" [icon]="lockicon"></fa-icon>
            <fa-icon *ngIf="!disableButton" class="checkicon" [icon]="checkicon"></fa-icon>
            <fa-icon *ngIf="disableButton" class="wrongicon" [ngStyle]="{'display':isUsernameNull ? 'none': 'block'}" [icon]="wrongicon"></fa-icon>
            <input [(ngModel)]="confirmPassword" type="password" class="enter-username-password" (input)="checkConfirmPass()" placeholder="Confirm new Password" maxlength="20" required>
        </div>
        <button (click)="checkConfirmPassword()" class="submit" > Update Password </button>
    </div>

</div>
<app-footer></app-footer>