<app-header></app-header>

<div class="form">
  <div *ngIf="registerUserStep === 0">
    <form [formGroup]="registerForm">
      <h1 class="title-login">Regal Grid register new user </h1>
      <mat-form-field class="rectangle-1">
        <mat-icon *ngIf="isNewUsername" class="checkicon">check_circle</mat-icon>
        <mat-icon *ngIf="!isNewUsername && !isUsernameNull" class="wrongicon">error</mat-icon>
        <mat-label>Username</mat-label>
        <input matInput (input)="findUsername()" formControlName="userName" placeholder="Enter your User Name"
          maxlength="20" required>
      </mat-form-field>
      <mat-form-field class="rectangle-1">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordHash"
          placeholder="Enter your Password" maxlength="30" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="rectangle-1">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="emailId" placeholder="Enter your email id" maxlength="320"
          required>
      </mat-form-field>
      <mat-form-field class="rectangle-1">
        <mat-label>Mobile number</mat-label>
        <input matInput type="text" formControlName="mobileNumber" maxlength="15" pattern="\d*"
          placeholder="Enter your mobile Number" required>
      </mat-form-field>
      <mat-form-field class="rectangle-1">
        <mat-label>Full name</mat-label>
        <input matInput type="text" formControlName="fullName" placeholder="Enter your full name" maxlength="50"
          required>
      </mat-form-field>
      <button (click)="checkFormVaild()" mat-raised-button class="submit" type="submit" [disabled]="cannotSubmit"><span
          style="color: white;">Register</span></button>
      <p class="forgot-password">Already have an account? <a routerLink="/" class="forgot-password-hover">Sign In</a>
      </p>
    </form>
  </div>
  <div class="otp" *ngIf="registerUserStep === 1">
    <h1 class="title-login">Enter OTP received to your mail</h1>
    <br>
    <mat-form-field class="rectangle-1">
      <mat-label>Verify OTP</mat-label>
      <input matInput [(ngModel)]="enteredOtp" placeholder="Enter OTP" maxlength="20" required>
    </mat-form-field>
    <button mat-raised-button (click)="verifyOtp()" class="submit"><span style="color: white;">Verify Otp</span>
    </button>
  </div>
</div>

<app-footer></app-footer>