<app-header></app-header>
<div class="form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <span class="title-login">Regal Grid Sign In</span>
    <div class="rectangle-1" >
      <fa-icon class="usericon" [icon]="usericon"></fa-icon>
      <input class="enter-username-password" formControlName="userName" placeholder="Enter your User Name" maxlength="20" required> 
    </div>
    <div class="rectangle-1">
      <fa-icon class="usericon" [icon]="passwordicon"></fa-icon>
      <input type="password" class="enter-username-password" formControlName="password" placeholder="Enter your Password" maxlength="30" required>
    </div>
    <button class="submit" type="submit"  [disabled]="cannotSubmit">Login</button>

    <span class="forgot-password">Forgot Password?</span>
  </form>
  <!-- <button (click)="Paynow()"></button> -->
</div>
<app-footer></app-footer>