.charging-stations {
  border: 1px solid transparent;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

.charging-station {
  cursor: pointer;
}

.charging-station {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

.charging-station p {
  margin: 0;
}

.charging-station p:first-child {
  font-weight: bold;
}

body {
  max-height: 657px;
  font-family: Arial, sans-serif;
  overflow-y: auto;
  padding: 10px;
  background-color: #a4eece;
  border-radius: 10px;
  padding-left: 15%;
  padding-right: 5%;
  padding-bottom: 10%;
  margin-top: -48%;

}