<app-sidebar></app-sidebar>
<div class="chat-container">
    <div *ngFor="let chat of chats" class="message-container">
      <div [ngClass]="{'sent': chat.senderId === currentUser.userId , 'received': chat.senderId !== currentUser.userId}">
        <p>{{ chat.message }}  <span id="time">{{ chat.time | date: 'shortTime' }}</span></p>
        <div class="message-details">
         
          <span id="date">{{ chat.time | date: 'shortDate' }}</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="input-container">
    <input type="text" [(ngModel)]="newMessageText" placeholder="Type a message...">
    <button (click)="sendMessage(newMessageText)">Send</button>
  </div>
