<app-sidebar></app-sidebar>
<body> 
  <div class="chat-container">
    <div *ngFor="let chat of chats" class="message-container">
      <div [ngClass]="{'sent': chat.senderId === currentUser.userId , 'received': chat.senderId !== currentUser.userId}">
        <p>{{ chat.message }} <span id="time">{{ chat.time | date: 'shortTime' }} {{ chat.time | date: 'shortDate' }}</span></p>
        <!-- <div class="message-details">
          <span id="date">{{ chat.time | date: 'shortDate' }}</span>
        </div> -->
      </div>
    </div>
  </div>
  
  <div class="input-container">
    <input #messageInput type="text" [(ngModel)]="newMessageText" (keyup.enter)="sendMessage(newMessageText)" placeholder="Type a message..." autofocus>
    <button (click)="sendMessage(newMessageText)">Send</button>
  </div>
</body>
